// Define variables for your color scheme

// For example:
$purple: #9382CA;
$yellow: #F9CE67;
$light-gray: #D2D2D2;
$dark-gray: #333333;
$white: #FAFAFA; // Add a semicolon here
$blue: #6790F9; // Replace semicolon with a colon
$orange: #FA8A67;
$green: #AAD37F;
$red: #ff0404;
