// Specific CSS for your home-page
@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
.homepage{
  background-size: cover;
  background-position: center;
}

.title {
  font-family: 'Poppins';font-size: 50px;
  font-weight: bold;
  color: $dark-gray;
  text-align: center;
}

#bk-img {
  max-width: 100vw;
  background-image: linear-gradient(rgba(255,255,255,0.5), $light-gray), url('bk-img.jpg');
  min-height: 100vh;
}

#logo {
  // background-image: url('elevate_logo.jpg');
  width: 150px;
  height: 150px;
  padding: 20px;
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
}

.feature-list {
  font-family: 'Poppins';font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 20px 0;
  padding-left: 10%;
  padding-right: 10%;
}

.graduation {
  background-image: url('graduation.png');
}

.slogan {
  font-family: 'Poppins';font-size: 30px;
  font-weight: bold;
  text-align: left;
  color: #22092C;
}
.head {
/* Arriba | Derecha | Abajo | Izquierda */
  box-sizing: content-box;
  margin: 0 auto 50px auto;
  width: 70%;
  padding-top: 20px;
  text-align: center;
}
.bottom {
  box-sizing: content-box;
  margin: 20px auto 50px auto;
  width: 70%;
  text-align: center;
}
.line {
  margin-left: 15px;
  border-left: 1px solid #D8D8D8;
  height: 40px;
}
.text_and_icon {
  width: auto;
  display: flex;
  align-items: center;
  padding-left: auto;
  padding-right: auto;
}
.lesson-select{
  color : #4451FE;
  display : flex;
  align-items: center;
  font-family: 'Poppins';
  line-height: 24px;
  font-weight: medium;
}
.flex-container {
  padding-left: 25px;
  display: flex;
  align-items: center;
  margin: auto 25px auto 25px;
  width : auto;
  height: 54px;
  // background-color : white;
  border-radius: 25px;
  -webkit-box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 38px 0px rgba(0,0,0,0.1);
}
.flex-item-grow {
  flex: 1 0 auto;
}
