// Specific CSS for your home-page
@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
#bk-img {
  max-width: 100vw;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('bk-img.jpg');
  min-height: 100vh;
}
.homepage{
  background-size: cover;
  background-position: center;
}

.title {
  font-family: 'Poppins';font-size: 60px;
  font-weight: bold;
  color: $dark-gray;
  text-align: center;
  margin-top: 250px; /* Adjust the margin-top to move the title down */
  margin-bottom: 25px;
}


.slogan {
  font-family: 'Poppins';font-size: 15px;
  text-align: center;
  color: $dark-gray;
  background-color:rgba(250, 250, 250, 0.8);
  border-radius: 25px;
}

.head {
/* Arriba | Derecha | Abajo | Izquierda */
  box-sizing: content-box;
  margin: 0 auto 50px auto;
  width: 70%;
  padding-top: 20px;
  text-align: center;
}
.bottom {
  box-sizing: content-box;
  margin: 20px auto 50px auto;
  width: 70%;
  text-align: center;
}
.line {
  margin-left: 15px;
  border-left: 1px solid #D8D8D8;
  height: 40px;
}
.text_and_icon {
  width: auto;
  display: flex;
  align-items: center;
  padding-left: auto;
  padding-right: auto;
}
.lesson-select{
  color : #4451FE;
  display : flex;
  align-items: center;
  font-family: 'Poppins';
  line-height: 24px;
  font-weight: medium;
}
.flex-container {
  padding-left: 25px;
  display: flex;
  align-items: center;
  margin: auto 25px auto 25px;
  width: auto;
  height: 54px;
  background-color: $white;
  border-radius: 25px;
  box-shadow: 0px 10px 38px 0px rgba(147, 130, 201, 0.5); /* Keep the box shadow */
}

.form-control {
  background-color: $white;
  border: none;
  font-size: 10px;
}

.search_icon {
  padding-right: 20px;
  color: $purple;
  font-size: 24px;
}
