  <nav class="navbar fixed-bottom navbar-light">

          <%# chat %>
          <%= link_to root_path, class: "nav-link" do  %>
            <i class="fas fa-comment-alt"></i> <span></span>
          <% end %>
   
          <%= link_to root_path, class: "nav-link" do %> 
            <i class="fa-solid fa-magnifying-glass"></i> <span></span>
          <% end %>

          <%= link_to bookings_path, class: "nav-link" do %> 
            <i class="fa-solid fa-calendar-days"></i> <span></span>
          <% end %>

          <%= link_to user_session_path, class: "nav-link" do %> 
            <i class="fa-solid fa-user"></i>
          <% end %>
  </nav>
