<div class="homepage" id="bk-img">
  <div class="head">
  </div>

    <h1 class="title">Elevate.</h1>


    <%= form_with url: lessons_path, method: :get, class: "d-flex text_and_icon flex-container item-flex" do %>
      <%= select_tag "subject", options_for_select(Lesson::VALID_SUBJECTS), #Lesson.all.pluck(:subject).uniq
            class: "form-control",
            prompt: "What do you want to learn?"
        %>
            <div class="line"></div>

      <%= button_tag(type: "submit", name: "search", class: "btn flex-item text_and_icon") do %>
        <%= content_tag(:i, "", class: "fas fa-search search_icon") %>
      <% end %>
    <% end %>

  <div class="bottom">
    <p class="slogan" >Find a teacher near you and unlock your true potential today</p>
  </div>


</div>
