.btn-primary {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  width: 100%;
}

.btn-secondary {
  color: $purple;
  padding: 8px 24px;
  border: 1px solid $purple;
  border-radius: 4px;
  width: 100%;
  background-color: white;

}
