.flatpickr-input {
  height: 50px;
  font-size: 20px;
  border: 3px solid $light-purple;
  border-radius: 25px;
}

.new_booking {
  text-align: center;
}

.booking-form {
  position: relative;
}

.booking-form i {
  color: $dark-gray;
  position: absolute;
  top: 30%;
  right: 10%;
  font-size: 20px;
}
