.heading {
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: bold;
  color: $dark-gray;
  text-align: center;
  margin-top: 25px; /* Adjust the margin-top to move the title down */
  margin-bottom: 20px;
  text-align: left;
  margin-left: 15px;
}

.subheading {
  font-family: 'Poppins';font-size: 30px;
  font-weight: bold;
  color: $dark-gray;
  text-align: center;
  margin-top: 5px; /* Adjust the margin-top to move the title down */
  margin-bottom: 12px;
}

.teacher-details {
  padding: 5px;
  margin: 5px;
}
