.navbar {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  background: white;
  width: 100vw;
  padding: 10px;
}

.navbar i {
  display: block;
  color: $purple;
  height: 24px;
  width: 24px;
  font-size: x-large;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
