// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.btn.btn-secondary.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 5px; /* Adjust the padding as needed */
  font-size: 15px; /* Adjust the font size as needed */
}

body {
  background: linear-gradient(to bottom, #ffffff, #f2f2f2);
}
-
p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.btn.btn-secondary.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 5px; /* Adjust the padding as needed */
  font-size: 15px; /* Adjust the font size as needed */
}


p {
  margin-bottom: 5px;
  margin-top: 5px;
}

html, body {
  min-height: 100%;
}
